<form method='post', action = '/upload/photo' enctype='multipart/form-data'>
	<input type='file', name='photo'>
	<input type='text' name='title' placeholder='Title (optional)'>
	<input type='text' name='description' placeholder='Description (optional)'>
	<!-- Dropdown of user's existing albums, default to new -->
	<br>
	<input type='submit' value='Upload photo'>
</form>