
<a href='/'>back to flickr</a>

  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
  
  <div class="carousel">
    <ul class="frames">
    	<% @album.photos.each do |photo| %>
      <li>
        <h2><%= photo.title %></h2>
        <img src="/photos/<%= photo.photo_string.gsub(" ", "_") %>">
      </li>
      	<% end %>
    </ul>
  </div>
