<div class="container">
  <h1>Welcome to Flickr!</h1>
  <% if current_user %>
  	<h2> Go upload some cat pictures <a href='/upload/photo'>Right here</a></h2>
  	<a href="/logout">Logout</a>
  <% else %>
  	<h1>Sign up or log in <a href="/login">here</a></h1>
  <% end %>
</div>

<dl><% @photos.each do |photo| %>
	<dt><%= photo.title %>: <%= photo.description %></dt>
	<dd><img src="/photos/<%= photo.photo_string.gsub(" ", "_") %>"></dd>
	</dl>
<% end %>

