<h1>Sign Up or Log In to start sharing cat pictures</h1>
<div class="login">
<form action="/login" method="post">
<input type="text" name="user[name]" placeholder="username">
<input type="password" name="user[password]" placeholder="password">
<input type="submit" value="log in">
</div>
</form>
<div class="signup">
<form action="/signup" method="post">
<input type="text" name="user[name]" placeholder="username">
<input type="password" name="user[password]" placeholder="password">
<input type="password" name="password-confirm" placeholder="password">
<input type="submit" value="sign up">
</form>
</div>